
<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
	<script type="text/html" template>
		<p>当前版本：workTop-v{{ layui.admin.v }}</p>
		<p>前端框架：layui-v{{ layui.v }}</p>
		<p>后端语言：golang</p>
	</script>
	<!--<div class="layui-btn-container">
		<a href="http://www.layui.com/admin/" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>
		<a href="http://fly.layui.com/download/layuiAdmin/" target="_blank" class="layui-btn">下载新版</a>
	</div>-->
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">

	<blockquote class="layui-elem-quote" style="border: none;">
		workTop仅供《<a href="https://www.digiwin.com">鼎捷软件</a>-浙江交付-T服务部》<b>内部</b>使用，请勿外传！！！
	</blockquote>
	<p>© 2022 <a href="https://wangxingyi.top/" target="_blank">懒猫</a> 版权所有</p>
</div>